# Telegram bot token (BotFather'dan)
BOT_TOKEN=7081617772:AAGzjp0IAgX3g5EDKfh_N5xLvyWtCqd7EEs

# Backend FastAPI server
API_BASE_URL=http://localhost:8000/api/v1
#API_BASE_URL=https://face-id.uzbmb.uz/api/v1
# X-API-Key — backend admin paneldan yaratiladi (`/api/v1/admin/api-keys`)
#API_KEY=sk-RWiT35RxoEfD8T_SJhE2niAiX_CvjFs4a3J24lIaaDuc_rrnY8AdTvRK4sR4qMVa
API_KEY=sk-JdCRKNqXQS-nRjBhDoMOSHAVU35sjtHlN3apGZkch484qM9wm38BgcVOQLRjKc_7

# Optional — log darajasi
LOG_LEVEL=INFO
